// custom CSS for admin area
.notes-image{
	margin-left: 200px;
	margin-bottom: 30px;
	position: relative;
	img {
		width: 500px;	
		position: relative;
	}
	.note-dot{
		width: 5px;
		height: 5px;
		background: red;
		position: absolute;
		z-index: 100;
		opacity: 1;
	}
}
