<!-- <section class="container photo-header" role="document">
	<div class="row">
		<div class="small-12 columns ">
			<h2><%= @photo.title %></h2>
			<h5><%= @photo.description %></h5>
		</div>
</div>
</section> -->
<section class="container" role="document">
	<div class="row fullWidth">
		<div class="small-12 large-12 columns noPadding" role="main">

			<div class="slides">
				<div class="image-post">
					<article >
						<figure>
							<%= image_tag @photo.image.url %>
							
						</figure>
					</article>
				</div>
			</div>

		</div>

	</div>
</section>


<script>
var figure = $('.image-post figure');
var image = $('.image-post figure img');
var row;
window.setTimeout(function() {
	<% @photo.notes.each do |note| %>

	row = $('<div id="note_<%= note.id %>" class="hover-desc"><i class="fa fa-tag"></i><h4 class="hover-title"><%= note.name %> </h4> <h5 class="hover-description" ><%= note.description %></h5></div>');
	row.css({top: <%= note.y %> * image.height(), left: <%= note.x %> * image.width()});
	figure.append(row);
	$('#note_<%= note.id %> i').hover(function(){
		$('#note_<%= note.id %>').addClass('active');
		if(<%= note.x %> > .5){
			$('#note_<%= note.id %> .hover-title').css({right: '0px'});
			$('#note_<%= note.id %> .hover-description').css({right: '0px'});
		}
	}, function(){
		$('#note_<%= note.id %>').removeClass('active');
	})
<% end %>
}, 100);

</script>