<!-- <section class="container photo-header" role="document">
	<div class="row">
		<div class="small-12 columns ">
			<h2><%= @photo.title %></h2>
			<h5><%= @photo.description %></h5>
		</div>
</div>
</section> -->
<section class="container" role="document">
	<div class="row fullWidth">
		<div class="small-12 large-12 columns noPadding" role="main">

			<div class="slides">
				<div class="image-post">
					<article >
						<figure>
							<%= image_tag @photo.image.url %>
							
						</figure>
						<div class="hover-desc" ng-controller="photoCtrl">
							<h2 ng-mouseover="showDesc = true;" ng-mouseleave="showDesc = false" class="hover-title"><%= @photo.title %> <i class="fa fa-tag"></i></h2>
							<h5 class="hover-description" ng-hide="!showDesc"><%= @photo.description %></h5>
						</div>
					</article>
				</div>
			</div>

		</div>

	</div>
</section>


<script>
coastalApp.controller('photoCtrl', function($scope){
	$scope.showDesc = false;
});
</script>