%section{:class => "container contact-container"}
	%div{:class => "row fullWidth"}
		%div{:class => "small-12 large-12 columns noPadding control-container"}

			%h1 Send us a message

			= render 'form'

