/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.category-header{
	text-align: center;
}

.category-name{

}

.photo-header{
	background: #eee;
}
.photo-header h2{
	color: #359683;
}
.category-grid{
	margin-top: 20px;
}
.category-grid li{
	padding: 10px;
}
.frame-box{
	border: 1px solid #888;
	padding: 5px;
	text-align: center;
}
.category-grid li a h5 {
	color: #359683;
}
	
.logo-row{
	text-align: center;
}

.dumb-footer{
	position: fixed;
	width: 100vw;
	height: 80px;
	text-align: center;
	background: white;
	bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.main-content{
	padding-bottom: 100px;
}

.control-container{
	position: relative;
}

.play-pause{
	display: inline-block;
	position: relative;
}

.play-pause i{
	position: absolute;
	top: -8px;
	cursor: pointer;
	left: 6px;
}
.search-box{
	position: absolute;
	top: 0px;
	right: 0px;
	padding-top: 33px;
}

.search-box .button{
	background-color: #359683;
}

.search-box div{
	padding: 0px;
}

.search-results{
	position: absolute;
	top: 80px;
	
	margin: 0;
	width: 360px;
	z-index: 1000;
	left: -100px;
	overflow-y: scroll;
	max-height: 800px;
	display: none;
}

.visible{
	display: block;
}

.search-results li{
	list-style: none;
	height: 80px;
	background: white;
	overflow: hidden;
	position: relative;
}

.search-results li div{
	display: inline-block;

}

.search-title{
	font-size: 16px;
}

.search-description{
	font-size: 12px;
}

.search-text{
    height: 80px;
    overflow-y: hidden;
    width: 156px;
    position: absolute;
    left: 106px;
    top: 0px;
    text-overflow: ellipsis;
}

.hover-desc{
	position: absolute;
	
}

.hover-desc i {
	color: #359683;
}

.hover-title{
		background-color: #359683;
		color: white;
		padding-left: 20px;
		padding-right: 64px;
		cursor: pointer;
		display: none;
}

.hover-title i{
	font-size: 16px;
}

.hover-description{
	position: absolute;
	width: 40vw;
	background: white;
	padding: 12px;
	display: none;
}

.hover-desc.active .hover-description, .hover-desc.active .hover-title {
	display: block;
}

#photos-comp .slick-next:before, #photos-comp .slick-prev:before{
	color: #359683;
}

.contact-container{
	max-width: 800px;
	margin: 0 auto;
}


table td {
	max-width: 50px;
}

.image-post figure{
	position: relative;
}

.fixed-height img{
	height: calc(100vh - 262px);
	margin: 0 auto;
	width: calc((100vh - 262px) * 1.78);
}

.fixed-height figure, .fixed-height-cat figure{
	text-align: center;
}

.fixed-height-cat img{
	height: calc(100vh - 334px);
	margin: 0 auto;
	width: calc((100vh - 334px) * 1.78);
}