
<!doctype html>
<html class="no-js" lang="en-US" >
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Coastal</title>
		<link rel="stylesheet" href="/css/slick.css" />
		<link rel="stylesheet" href="/css/foundation.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
		
<script type='text/javascript' src='/js/modernizr.js'></script>
	</head>
	<body class="home blog">
		
	<div class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap">
	
		
	<nav class="tab-bar show-for-small-only">
		<section class="left-small">
			<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
		</section>
		<section class="middle tab-bar-section">
			
			<h1 class="title">Coastal</h1>

		</section>
	</nav>

	<aside class="left-off-canvas-menu" aria-hidden="true">
    <ul id="menu-main" class="off-canvas-list"><li id="menu-item-8" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8"><a href="http://coastal.branch13.com/?cat=3">Kitchen</a></li>
</ul></aside>
	<div class="container show-for-medium-up">
    <div class="row">
        <!--<h1 id="main-title"><a href="http://coastal.branch13.com">Coastal</a></h1>-->
        <a href="http://coastal.branch13.com"><img width="300" src="http://coastal.branch13.com/wp-content/themes/coastal/assets/cci-logo.jpg" /></a>
    </div>
</div>
<div class="top-bar-container contain-to-grid show-for-medium-up">
    <nav class="top-bar" data-topbar role="navigation">
        <!--<ul class="title-area">
            <li class="name">
                <h1><a href="http://coastal.branch13.com">Coastal</a></h1>
            </li>
        </ul>-->
        <section class="top-bar-section">
            <ul id="menu-main-1" class="top-bar-menu left"><li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8"><a href="http://coastal.branch13.com/?cat=3">Kitchen</a></li>
</ul>                    </section>
    </nav>
</div>

<section class="container" role="document">
	<div class="row fullWidth">
	<div class="small-12 large-12 columns noPadding" role="main">
		
				<div class="slides">
					<div class="image-post">
<article id="post-11" class="post-11 post type-post status-publish format-standard hentry category-kitchen">
	<figure><a href="http://coastal.branch13.com/wp-content/uploads/2015/08/traditional-kitchen.jpg"><img class="alignnone" src="http://coastal.branch13.com/wp-content/uploads/2015/08/traditional-kitchen-300x200.jpg" alt="traditional-kitchen" /></a></figure>
	<h2 class="image-title"><a href="http://coastal.branch13.com/?p=11">Traditional</a></h2>
</article>
</div>					<div class="image-post">
<article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-home-page category-kitchen">
	<figure><a href="http://coastal.branch13.com/wp-content/uploads/2015/08/866-ASSIGNMENT-HISTORY.png"><img class="alignnone" src="http://coastal.branch13.com/wp-content/uploads/2015/08/866-ASSIGNMENT-HISTORY-300x197.png" alt="866-ASSIGNMENT-HISTORY" /></a></figure>
	<h2 class="image-title"><a href="http://coastal.branch13.com/?p=1">Hello world!</a></h2>
</article>
</div>				</div>
		

	
	
	</div>
	
</div>
</section>
<footer class="row">
			</footer>
<a class="exit-off-canvas"></a>

</div>
</div>
<script type='text/javascript' src='/js/jquery.js'></script>
<script type='text/javascript' src='/js/foundation.js'></script>
<script type="text/javascript" src="/js/slick.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	if($('.slides')){
		$('.slides').slick({
			dots: true,
			infinite: true,
			speed: 300,
			slidesToShow: 1,
			adaptiveHeight: true,
			prevArrow: '<button type="button" class="slick-prev-icon show-for-medium-up"><i class="fa fa-chevron-left"></i></button>',
			nextArrow: '<button type="button" class="slick-next-icon show-for-medium-up"><i class="fa fa-chevron-right"></i></button>'
		});
	}
});
</script>

</body>
</html>
